ul{
    list-style: none;
}

ul li{
    padding: 0.8rem;
}

svg{
    fill: white;
    transition: 0.5s;
}

.container{
    /* background-color: red; */
    width: 40px;
    display: block;
    align-items: center;
    /* margin: 11rem 1rem 1rem 1rem; */
    padding: 1rem;
    margin-top: 12rem;
}

#linkedin:hover{
    fill: #0a66c2;
}

#twitter:hover{
    fill: #00acee;
}

#insta:hover{
    fill: rgb(212, 17, 82); /*rgb(212, 17, 82)*/
}

#github:hover{
    fill: #333;
}

#facebook:hover{
    fill: #3b5998;
}

#reddit:hover{
    fill:orangered;
}