ul{
    list-style: none;
}

ul li{
    padding: 0.8rem;
}

svg{
    fill: white;
    transition: 0.5s;
}

svg:hover{
    fill: blueviolet;
}

.container{
    /* background-color: red; */
    width: 40px;
    display: block;
    align-items: center;
    /* margin: 11rem 1rem 1rem 1rem; */
    padding: 1rem;
}