<div class="container">
    <div class="left">
        <h1>About Me</h1>
        <p>Hi , I am a Sophomore Engineering Undergraduate from Indian Institute of Information Technology , Kalyani . I
            am pursuing B.Tech in Electronics and Communication Engineering. I have a keen interest in Web and App
            development, open source , and writing. I also like to explore different technologies like blockchain,
            GameDev, Google Cloud, Web/App Development etc. I am also very active on different social media platforms
            and like to share my learnings on those platforms, I also am active in various tech communities. I have
            worked on various websites for hackathons organised by my college. I also have done PR work for them,
            managing the social handles of the tech club of my college. I like writing blogs , which I post on medium
            and hashnode. Apart from this, I am a die hard hip-hop fan, and sometimes produce my own music and post it
            on youtube. I have worked as a DevRel and Dev Evangelist Intern at a startup. I am learning Angular and
            Flutter development frameworks. I also am honing my DSA problem solving skills on LeetCode and trying to
            participate more in Competitive Programming.
            I'm currently focussed on improving my skills in technology and learning about communities, contributing to
            them and attempting to understand them.</p>
    </div>

    <div class="right">
        <h1>Skills</h1>
    </div>
</div>