.container{
    display: flex;
    margin: -35rem auto;
    border-radius: 2rem;
    width: 110.5rem;
    height: 40rem;
    padding: 3rem;
    gap: 4rem;
}

h1{
    color: blueviolet;
    font-size: 3rem;
}

.left{
    flex-basis: 65%;
}

.right{
    flex-basis: 30%;
}

p{
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
}