.container{
    color: white;
    position: relative;
}

ul{
    list-style: none;
    display: block;
    padding: 2rem;
    position: absolute;
    right: 0%;
    bottom: 0%;
}

ul li{
    font-size: 1.5rem;
    transition: 0.5s;
    padding: 1rem;
    border-radius: 1.5rem;
}

ul li:hover{
    cursor: pointer;
    color: blueviolet;
}

svg{
    fill: white;
    transition: 0.5s;
}

svg:hover{
    fill: blueviolet;
}