.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25rem;
    color: white;
}

img{
    width: 18rem;
    border-radius: 50%;
    border: 1rem solid blueviolet;
}

.profile-pic{
    flex-basis: 25%;
}

.hero-text{
    flex-basis: 65%;
}
ul{
    list-style: none;
    display: flex;  
    font-size: 2rem;
    gap: 3.5rem;
}

h1{
    font-size: 5rem;
}

h1 span{
    color: blueviolet;
}